---
import ResumeLayout from '@layouts/ResumeLayout.astro';

const skills = {
  Languages: [
    'Typescript',
    'Javascript',
    'HTML',
    'CSS',
    'GraphQL',
    'Bash',
    'SQL',
    'Lua',
  ],
  'Web Development': [
    'Node.js',
    'React',
    'Next.js',
    'TailwindCSS',
    'Remix',
    'Astro',
    'Apollo Client',
    'Vite',
    'Turborepo',
    'Alpine.js',
    'HTMX',
    'Styled Components',
    'XState',
  ],
  Testing: ['Cypress', 'Jest', 'Storybook', 'Playwright', 'Github Actions'],
  Miscellaneous: ['Linux', 'Shell Scripting', 'Docker'],
  Other: [
    'Git',
    'Deno',
    'NPM',
    'Yarn',
    'PNPM',
    'ESLint',
    'Prettier',
    'Monorepos',
    'Chakra UI',
    'Web Components',
    'Auth0',
    'Jira',
    'a11y',
    'Web Components',
  ],
};

const projects = {
  'Ofra Cosmetics': ['i did a thing'],
  'ScoutUS Pro': ['i did a thing 2, electric boogaloo'],
  'Pioneer Sands': ['i did a thing 3'],
  "Ink'd Greetings": ['i did a thing 4'],
};
---

<ResumeLayout>
  <body>
    <h1>Resume</h1>

    <section aria-labelledby='heading-skills'>
      <h2 id='heading-skills'>Skills</h2>
      {
        Object.entries(skills).map(([category, skillsList]) => (
          <>
            <h3>{category}</h3>
            <ul>
              {skillsList.map((skill) => (
                <li>{skill}</li>
              ))}
            </ul>
          </>
        ))
      }
    </section>

    <section aria-labelledby='heading-projects'>
      <h2 id='heading-projects'>Projects</h2>
      {
        Object.entries(projects).map(([project, bulletPoints]) => (
          <>
            <h3>{project}</h3>
            <ul>
              {bulletPoints.map((bullet) => (
                <li>{bullet}</li>
              ))}
            </ul>
          </>
        ))
      }
    </section>

    <section aria-labelledby='heading-education'>
      <h2 id='heading-education'>Education</h2>
    </section>

    <section aria-labelledby='heading-work'>
      <h2 id='heading-work'>Work Experience</h2>
    </section>

    <section aria-labelledby='heading-references'>
      <h2 id='references'>References</h2>
    </section>
  </body>
</ResumeLayout>

<style>
  :root {
    --fs-200: clamp(0.7035rem, 0.7257rem + -0.0287vi, 0.72rem);
    --fs-300: clamp(0.9rem, 0.8869rem + 0.0656vi, 0.9377rem);
    --fs-400: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
    --fs-500: clamp(1.4063rem, 1.3158rem + 0.4522vi, 1.6663rem);
    --fs-600: clamp(1.7578rem, 1.5967rem + 0.8057vi, 2.2211rem);
    --fs-700: clamp(2.1973rem, 1.9317rem + 1.3278vi, 2.9607rem);
    --fs-800: clamp(2.7466rem, 2.3292rem + 2.0871vi, 3.9467rem);
    --fs-900: clamp(3.4332rem, 2.7975rem + 3.1786vi, 5.2609rem);
  }

  @media print {
    @page {
      font-family: Helvetica, Arial, sans-serif;
      size: A4;
      height: 11in;
      width: 8.5in;
      margin: 1in;
    }

    section,
    h1 {
      margin-block-end: 2ex;
    }

    h2 {
      margin-block-end: 1ex;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1ch;
    }
    li::after {
      content: ',';
    }
    li:last-of-type::after {
      content: '';
    }
  }
</style>
