package views

import (
	"bensmith.sh/views/components"
)

// Renders a route with all of my projects
templ ProjectsRoute() {
	<html lang="en">
		@components.Head("Projects")
		@components.WithMainNav() {
			<h1>Projects</h1>
		}
	</html>
}
