package routes

import (
	"bensmith.sh/components"
)

// Renders a route with all of my projects
templ ProjectsRoute() {
	@components.Head("Projects")
	@components.WithMainNav() {
		<main class="readable flow">
			<h1>Projects</h1>
		</main>
	}
}
