@layer routes {
  main {
    container: main-content / inline-size;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      row-gap: 0.6em;
      column-gap: 1.2em;

      background-color: var(--dark-950);
      border: 0.15em solid var(--dark-700);
      padding: 0.6em 0.9em;
      margin-inline: -0.9em;

      @container main-content (width >= 45ch) {
        justify-content: space-evenly;
      }

      a {
        color: var(--primary);

        &:hover,
        &:active {
          color: var(--fg);
        }
      }
    }
  }
  @container main-content (min-width: 60ch) {
    ul {
      justify-content: space-evenly;
    }
  }
}
