@import "../components/post-toc.css" layer(components);

@layer routes {
  /* https://css-tricks.com/books/greatest-css-tricks/the-yellow-flash/ */
  :is(h1, h2, h3, h4, h5, h6):target {
    animation: bg-flash 2s;
  }

  .article-container {
    container: article-container / inline-size;
  }

  article {
    max-width: var(--content);
  }

  article > * + * {
    margin-block-start: 2em;
  }

  h1 {
    margin-block-end: 1em;
    line-height: 1.25;
  }

  .post-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-row);

    font-size: var(--fs-sm);
  }

  pre {
    /* use a brand color background for code blocks */
    /* background-color: var(--dark-900) !important; */
    time {
      font-family: var(--ff-serif);
      @supports (font-variation-settings: normal) {
        font-family: var(--ff-serif-var);
      }
    }
  }

  /* calc(var(--content) + var(--toc-column) + var(--gap-col) * 2) */
  @container article-container (width >= 96ch) {
    article {
      display: grid;
      grid-template-columns: 1fr var(--content) minmax(24ch, 1fr);
      grid-template-areas:
        "auto-col header   blank"
        "auto-col content  toc";
      column-gap: var(--gap-col);

      max-width: unset;
    }

    header {
      grid-area: header;
    }

    main {
      grid-area: content;
    }

    post-toc {
      grid-area: toc;

      nav {
        position: sticky;
        top: var(--viewport-padding);
      }

      summary {
        font-size: var(--fs-md);
      }
    }

    /*
     * consumed in our web component script for our <post-toc> component.
     * only set this variable when our container query is active
     */
    post-toc details {
      --auto-open-toc: true;
    }
  }
}
