@layer routes {

  /* https://css-tricks.com/books/greatest-css-tricks/the-yellow-flash/ */
  :is(h1, h2, h3, h4, h5, h6):target {
    animation: flash-bg 2s;
  }

  .article-container {
    container: article-container / inline-size;
  }

  article {
    max-width: var(--main-content);
  }

  /* calc(var(--main-content) + var(--toc-column) + var(--column-gap) * 2) */
  @container article-container (width >=96ch) {
    article {
      display: grid;
      grid-template-columns: 1fr var(--main-content) minmax(24ch, 1fr);
      grid-template-areas:
        "auto-col header   blank"
        "auto-col content  toc";
      column-gap: var(--column-gap);

      max-width: unset;
    }

    header {
      grid-area: header;
    }

    main {
      grid-area: content;
    }

    post-toc {
      grid-area: toc;
    }

    post-toc nav {
      position: sticky;
      top: var(--viewport-padding);
    }

    /*
     * consumed in our web component script for our <post-toc> component.
     * only set this variable when our container query is active
     */
    post-toc details {
      --auto-open-toc: true;
    }
  }

  h1 {
    font-size: var(--fs-lg);
    line-height: 1.25;
    margin-block-end: 1em;
  }

  .post-metadata,
  post-toc ul,
  .post-metadata {
    font-size: var(--fs-sm);
  }

  post-toc details {
    cursor: pointer;
  }

  pre {
    font-size: var(--fs-sm);
  }
}
