.main-nav {
  & li {
    margin-block-end: 0.5em;
  }

  /* main link list item */
  & li:first-of-type {
    line-height: 1;
    font-size: var(--fs-lg);
    font-weight: 800;
  }

  & a {
    text-transform: lowercase;
    text-decoration: none;
  }

  & a:is(:hover, :active, :focus) {
    text-decoration: underline;
  }

  & a[aria-current="page"] {
    font-weight: 600;
  }
}

/* calc(var(--content) + var(--sidebar) + var(--gap-col)) */
@container layout (width >= 82ch) {
  .main-nav {
    position: sticky;
    top: var(--viewport-padding);
  }
}
