.main-nav {
  & li {
    margin-block-end: 0.5em;
  }

  /* main link list item */
  & li:first-of-type {
    line-height: 1;
    font-size: var(--fs-lg);
    font-family: var(--ff-serif);
    @supports (font-variation-settings: normal) {
      font-family: var(--ff-serif-var);
    }

    a {
      color: var(--secondary);
    }
    a:is(:hover, :active, :focus-visible) {
      color: var(--primary);
    }
  }
  /* current page should have a heavier font weight, so long as it's not the homepage */
  & a[aria-current="page"]:not([href="/"]) {
    font-weight: 600;
  }

  & a {
    text-transform: lowercase;
    text-decoration: none;
  }

  & a:is(:hover, :active, :focus) {
    text-decoration: underline;
  }
}

/* calc(var(--content) + var(--sidebar) + var(--gap-col)) */
@container layout (width >= 82ch) {
  .main-nav {
    position: sticky;
    top: var(--viewport-padding);
  }
}
