.outline-btns-section {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    /* style a `<li>` with no direct children or the `<a>` child of a `<li>` */
    li:not(:has(*)),
    li > a {
      border-radius: 0.25em;
      border: 1px solid var(--fg);
      display: inline-block;
      font-size: var(--fs-sm);
      padding: 0.25em 0.5em;
      text-decoration: none;
    }

    a:is(:hover, :focus-visible) {
      border-color: var(--primary);
    }
  }
}
