.posts-section {
  ul {
    display: grid;
    gap: 0.5em;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(2em + 1vw);
    border-block-end: 1px solid var(--dark-700);

    font-weight: 500;
    padding-block: 1em;
  }

  a {
    font-size: var(--fs-md);
    text-decoration: none;
    max-width: 32ch;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  time {
    font-size: var(--fs-sm);
  }
}
