---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import profilePic from '@assets/profile_pic.jpeg';
import Link from '@components/Link.astro';
---

<Layout title='Home'>
  <section
    id='intro-section'
    aria-describedby='h1-name'
  >
    <Image
      src={profilePic}
      alt='Me!'
      width={1000}
      height={1000}
      loading='eager'
      style='object-fit: cover; object-position: center; aspect-ratio: 1 / 1;'
    />
    <div class='content'>
      <a
        href='/'
        class='home-logo group'
      >
        <h1
          id='h1-name'
          class='name'
        >
          Ben Smith
        </h1>
      </a>

      <p>
        I'm a <em class='for-the-web'>web developer</em> passionate about architecting
        accessible user experiences, I'm always tinkering with something new, and
        <span class='for-the-web'>I build for the web.</span>
      </p>

      <ul>
        <li>
          <Link href='mailto:bsmithdev@mailbox.org'>Email</Link>
        </li>
        <li>
          <Link href='https://www.linkedin.com/in/smithbm2316'>LinkedIn</Link>
        </li>
        <li>
          <Link href='https://github.com/smithbm2316'>GitHub</Link>
        </li>
      </ul>
    </div>
  </section>

  <section aria-describedby='about-me'>
    <h2 id='about-me'>About Me</h2>

    <p>
      I've been refining my web development skills at <a
        href='https://vincit.com'>Vincit USA</a
      > for the last 3 years, a software development consulting agency. I've helped
      multiple startups launch their flagship web-based SaaS products, replaced an
      existing Shopify website with a more performant headless Shopify storefront,
      and taught several internal workshops on web accessibility and developer tools.
    </p>

    <p>
      I've been programming and tinkering with tech since I first got my hands
      on a text editor and some 2012-era Youtube C programming language
      tutorials. However, it was an online course that I took the summer before
      my first year of high school from San Jose State University on an
      Introduction to the Java programming language that sparked an initial
      interest in coding well over a decade ago. While I would go on to take a
      Python course at my high school, write some "RobotC" code for the high
      school Robotics team, and a history fair website constructed with some
      basic HTML and CSS, it wasn't until halfway through my time in college at
      UC Irvine that I'd discover the passion that still burns bright today: <em
        >building for the web.</em
      >
    </p>

    <p>
      In switching from Mechanical Engineering to the Informatics program at UC
      Irvine, I discovered my love for the web. While some developers may find
      building web apps to be a chore due to the nature of how different CSS and
      Javascript can operate in comparison to more traditional programming
      languages, I love the web, quirks and all. Websites that were built 20
      years ago can still run in a modern browser today, due to the firm
      commitment that the web platform has made to backwards-compatability.
      Modern CSS has grown rapidly since I started my professional career 3
      years ago and provides us with so many new features that render many tools
      unnecessary for crafting well-structured web applications today.
    </p>
  </section>

  <a
    id='mastodon-verification'
    aria-hidden='true'
    rel='me'
    href='https://fosstodon.org/@smithbm2316'
    >Mastodon</a
  >
</Layout>

<style>
  section {
    margin-block: 2.5rem;
  }

  .for-the-web {
    font-style: italic;
    font-weight: 600;
  }

  #about-me {
    padding-top: 3rem;
  }

  #about-me p {
    font-size: 1rem;
    font-weight: 500;
  }

  @media screen and (min-width: 1024px) {
    #intro-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'content img';
      grid-gap: 2rem;
    }
  }

  img {
    border-radius: 1rem;
    border-color: var(--laserwave-maximumBlue);
    border-style: double;
    border-width: 0.5rem;
    display: inline-block;
    grid-area: img;

    aspect-ratio: 1 / 1;
    background-color: #19151e;
  }

  .content {
    grid-area: content;
  }

  .home-logo {
    display: block;
    margin-left: -0.5rem;
    width: max-content;
  }
  .home-logo > h1 {
    font-size: 3rem;
    margin-left: 0.2rem;
  }
  @media screen and (min-width: 1024px) {
    .home-logo > h1 {
      font-size: 3rem;
    }
    .home-logo > svg {
      width: 3rem;
      height: 3rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .home-logo {
      margin-left: -0.6rem;
    }
    .home-logo > h1 {
      font-size: 4rem;
    }
    .home-logo > svg {
      width: 4rem;
      height: 4rem;
    }
  }

  p {
    font-weight: 500;
    padding-bottom: 1rem;
  }
  @media screen and (min-width: 1280px) {
    p {
      font-size: 1.25rem;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    margin-block: 0.5rem;
  }
  @media screen and (min-width: 1024px) {
    ul {
      justify-content: space-between;
    }
  }

  #mastodon-verification {
    display: none;
  }

  .name {
    margin-inline-start: 0.25em;
    margin-block: 0;
  }
</style>
