---
import { Icon } from 'astro-icon/components';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import profilePic from '@assets/profile_pic.jpeg';
import Link from '@components/Link.astro';
---

<Layout title='Home'>
  <section>
    <Image
      src={profilePic}
      alt='Me!'
      width={1000}
      height={1000}
      loading='eager'
      style='object-fit: cover; object-position: center; aspect-ratio: 1 / 1;'
    />
    <div class='content'>
      <a
        href='/'
        class='home-logo group'
      >
        <Icon name='terminal' />
        <h1 class='name'>Ben Smith</h1>
      </a>

      <p>
        I'm a web developer with a passion for the command line, coffee, and
        crafting delightful user experiences for the web!
      </p>

      <ul>
        <li>
          <Link href='https://github.com/smithbm2316'>GitHub</Link>
        </li>
        <li>
          <Link href='https://www.linkedin.com/in/smithbm2316'>LinkedIn</Link>
        </li>
        <li>
          <Link href='mailto:bsmithdev@mailbox.org'>Email</Link>
        </li>
      </ul>
    </div>
  </section>
  <a
    id='mastodon-verification'
    aria-hidden='true'
    rel='me'
    href='https://fosstodon.org/@smithbm2316'
    >Mastodon</a
  >
</Layout>

<style>
  section {
    margin-block: 2.5rem;
  }

  @media screen and (min-width: 1024px) {
    section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'content img';
      grid-gap: 2rem;
    }
  }

  img {
    border-radius: 1rem;
    border-color: var(--laserwave-maximumBlue);
    border-style: double;
    border-width: 0.5rem;
    display: inline-block;
    grid-area: img;

    aspect-ratio: 1 / 1;
    background-color: #19151e;
  }

  .content {
    grid-area: content;
  }

  .home-logo {
    margin-left: -0.5rem;
    width: max-content;
  }
  .home-logo > h1 {
    font-size: 3rem;
    margin-left: 0.5rem;
  }
  .home-logo > svg {
    width: 3rem;
    height: 3rem;
  }
  @media screen and (min-width: 1024px) {
    .home-logo > h1 {
      font-size: 3rem;
    }
    .home-logo > svg {
      width: 3rem;
      height: 3rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .home-logo {
      margin-left: -0.6rem;
    }
    .home-logo > h1 {
      font-size: 4rem;
    }
    .home-logo > svg {
      width: 4rem;
      height: 4rem;
    }
  }

  p {
    font-weight: 600;
    padding-bottom: 1rem;
  }
  @media screen and (min-width: 1280px) {
    p {
      font-size: 1.2rem;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    margin-block: 0.5rem;
  }
  @media screen and (min-width: 1024px) {
    ul {
      justify-content: space-between;
    }
  }

  #mastodon-verification {
    display: none;
  }

  .name {
    margin-inline-start: 0.25em;
    margin-block: 0;
  }
</style>
