---
import 'tailwindcss/src/css/preflight.css';
import '../styles/global.css';

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {typeof title === 'string' ? `${title} - Ben Smith` : 'Ben Smith'}
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
