---
export interface Props {
  title: string;
}
import BaseHTML from '@layouts/BaseHTML.astro';
import Nav from '@components/Nav.astro';
import { Icon } from 'astro-icon';

const { title } = Astro.props;
---

<BaseHTML title={title}>
  <a
    id='skip-content'
    href='#main-content'
  >
    Skip to main content
  </a>
  <div id='wrapper'>
    <Nav />
    <main>
      <header>
        <a
          href='/'
          class='home-logo group'
        >
          <Icon name='terminal' />
          <h3>Ben Smith</h3>
        </a>
        <a
          href='#main-nav'
          class='mobile-menu'
          aria-label='Mobile menu'
        >
          <Icon name='menu-alt3' />
        </a>
      </header>
      <hr />
      <slot />
    </main>
  </div>
</BaseHTML>

<style>
  #wrapper {
    display: grid;
    grid-gap: 1rem;
    padding-top: 1rem;
  }
  @media screen and (min-width: 768px) {
    #wrapper {
      grid-template-columns: max-content 1fr minmax(auto, 90ch);
      padding-top: 2rem;
    }
  }

  main {
    margin-inline: auto;
    width: 91.666667%;
  }
  @media screen and (min-width: 640px) {
    main {
      width: 83.333333%;
    }
  }
  @media screen and (min-width: 768px) {
    main {
      grid-column-start: 3;
      margin-inline: 0;
      width: auto;
    }
  }

  /* skip nav link */
  #skip-content {
    color: white;
    background-color: var(--laserwave-hotPink);
    position: absolute;
    top: 0;
    right: 3rem;
    z-index: 10;
    padding: 0.5rem;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    color: #ffffff;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    transform: translateY(-120%);
  }
  #skip-content:focus {
    outline-color: var(--laserwave-maximumBlue);
    outline-offset: 0.3rem;
    outline-width: 0.4rem;
    outline-style: double;
    transform: translateY(0);
  }
  @media screen and (prefers-reduced-motion: reduced) {
    #skip-content {
      transition: none;
    }
  }

  /* header */
  header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: var(--laserwaveContrast-raisinBlack);
  }
  @media screen and (min-width: 768px) {
    header {
      position: static;
      top: auto;
    }
  }

  /* mobile-menu */
  .mobile-menu > svg {
    width: 1.75rem;
    height: 1.75rem;
    color: var(--laserwave-hotPink);
  }
  .mobile-menu:hover > svg,
  .mobile-menu:focus-visible > svg {
    outline: none;
    color: var(--laserwave-maximumBlue);
  }
  @media screen and (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
  }

  hr {
    margin-bottom: 1rem;
    border-width: 2px;
    border-style: dotted;
    border-color: var(--laserwave-maximumBlue);
  }
</style>
