<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Resume - bensmith.sh</title>
    <meta
      name='description'
      content='Resume - Ben Smith'
    />

    <script
      data-goatcounter='https://smithbm2316.goatcounter.com/count'
      async
      src='//gc.zgo.at/count.js'
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>
