/* https://piccalil.li/blog/a-more-modern-css-reset/ */
:root {
  color-scheme: dark light;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
html {
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/* https://bugs.webkit.org/show_bug.cgi?id=170179 */
ul[role="list"],
ol[role="list"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.6;
  /* improve text rendering */
  /* https://www.joshwcomeau.com/css/custom-css-reset/#four-font-smoothing-5 */
  -webkit-font-smoothing: antialiased;
}
@supports (height: 100svh) {
  /* https://ishadeed.com/article/new-viewport-units#be-careful-with-the-dvh-viewport-unit */
  /* https://mastodon.social/@simevidas/111088262361593466 */
  body {
    min-height: 100svh;
  }
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Balance text in paragraphs */
@supports (text-wrap: pretty) {
  p {
    text-wrap: pretty;
  }
}

/*
 * Allow browser to break words with a hyphen if there's a word that is
 * longer/bigger than its containing box, so that you don't get an
 * overflow issue.
 */
/* https://www.joshwcomeau.com/css/custom-css-reset/#seven-word-wrapping-8 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  /* hyphens: auto; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images & video easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* set default outline styles that work cross-browser */
:focus-visible {
  outline-style: solid;
  outline-color: currentColor;
  outline-width: 1px;
  outline-offset: 1px;
}
