/* Screen readers only */
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.hidden {
  display: none;
}

.square-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.readable {
  max-width: 60ch;
  margin-inline: auto;
}
