/*
 * design tokens (don't override)
 * https://www.realtimecolors.com/dashboard?colors=dae0f6-191d2e-f075f0-949fd1-dae0f6
 */
:root {
  /* light */
  --light-50: #eaeefa;
  --light-100: #dae0f6;
  --light-200: #adbaeb;
  --light-300: #8094e0;
  --light-400: #536fd5;
  --light-500: #2f4ec1;
  --light-600: #243c94;
  --light-700: #192a66;
  --light-800: #0e1739;
  --light-900: #03050c;
  --light-950: #000000;

  /* dark */
  --dark-50: #c3c8df;
  --dark-100: #a9b0d0;
  --dark-200: #8e98c2;
  --dark-300: #7480b3;
  --dark-400: #5a68a5;
  --dark-500: #4b578b;
  --dark-600: #3d4770;
  --dark-700: #2f3656;
  --dark-800: #20253b;
  --dark-900: #191d2e;
  --dark-950: #161927;

  /* primary */
  --primary-50: #fef6fe;
  --primary-100: #fce3fc;
  --primary-200: #f8bff8;
  --primary-300: #f49af4;
  --primary-400: #f075f0;
  --primary-500: #eb42ea;
  --primary-600: #dd18dd;
  --primary-700: #aa12aa;
  --primary-800: #780d78;
  --primary-900: #450845;
  --primary-950: #2c052c;

  /* secondary */
  --secondary-50: #f8f9fc;
  --secondary-100: #eaecf6;
  --secondary-200: #cdd2ea;
  --secondary-300: #b1b9dd;
  --secondary-400: #949fd1;
  --secondary-500: #6d7cc0;
  --secondary-600: #4a5bab;
  --secondary-700: #394684;
  --secondary-800: #28315d;
  --secondary-900: #171c35;
  --secondary-950: #0f1222;

  /* default values for brand colors */
  --light: var(--light-100);
  --dark: var(--dark-900);
  --primary: var(--primary-400);
  --secondary: var(--secondary-400);

  /* 
   * type scale
   * https://www.fluid-type-scale.com
   * minFontSize: 18px
   * minWidth: 320px
   * minRatio: 1.25
   * maxFontSize: 16px
   * maxWidth: 1280px
   * maxRatio: 1.333
   * steps: xs,sm,base,md,lg,xl,xxl,xxxl
   * baseStep: base
   * prefix: fs
   * decimals: 2
   * useRems: true
   * remValue: 16
   * previewFont: Inter
   * previewWidth: 1280px
   */
  --fs-xs: clamp(0.72rem, -0.26vi + 0.77rem, 0.56rem);
  --fs-sm: clamp(0.9rem, -0.25vi + 0.95rem, 0.75rem);
  --fs-base: clamp(1.13rem, -0.21vi + 1.17rem, 1rem);
  --fs-md: clamp(1.41rem, -0.12vi + 1.43rem, 1.33rem);
  --fs-lg: clamp(1.76rem, 0.03vi + 1.75rem, 1.78rem);
  --fs-xl: clamp(2.2rem, 0.29vi + 2.14rem, 2.37rem);
  --fs-xxl: clamp(2.75rem, 0.68vi + 2.61rem, 3.16rem);
  --fs-xxxl: clamp(3.43rem, 1.29vi + 3.17rem, 4.21rem);

  /* font family stacks */
  --ff-sans: Inter, system-ui, sans-serif;
  --ff-sans-var: InterVariable, system-ui, sans-serif;
  --ff-serif: "Young Serif", Inter, system-ui, sans-serif;
  --ff-serif-var: "Young Serif", InterVariable, system-ui, sans-serif;
}

/*
 * global component values (overrideable)
 */
:root {
  --fg: var(--light);
  --bg: var(--dark);
  --bg-pre-code: var(--dark-800);
  --bg-flash: var(--dark-700);

  --content: 60ch;
  --sidebar: 16ch;
  --gap-col: 6ch;
  --gap-row: 3ch;
  --viewport-padding: calc(var(--gap-col) / 2 + 1vw);
  --pre-padding: 1em;

  @media screen and (width < 400px) {
    --viewport-padding: calc(var(--gap-col) / 3);
  }
}
